<ul class='nav nav-tabs' id='myTab' role='tablist'>
  <li class='nav-item' role='presentation'>
    <button
      class='nav-link active'
      id='readings-tab'
      data-bs-toggle='tab'
      data-bs-target='#readings'
      type='button'
      role='tab'
      aria-controls='readings'
      aria-selected='true'
    >Readings</button>
  </li>
  <li class='nav-item' role='presentation'>
    <button
      class='nav-link'
      id='temp-tab'
      data-bs-toggle='tab'
      data-bs-target='#temp'
      type='button'
      role='tab'
      aria-controls='temp'
      aria-selected='false'
    >Temperature</button>
  </li>
  <li class='nav-item' role='presentation'>
    <button
      class='nav-link'
      id='pressure-tab'
      data-bs-toggle='tab'
      data-bs-target='#pressure'
      type='button'
      role='tab'
      aria-controls='pressure'
      aria-selected='false'
    >Pressure</button>
  </li>
  <li class='nav-item' role='presentation'>
    <button
      class='nav-link'
      id='windspeed-tab'
      data-bs-toggle='tab'
      data-bs-target='#windspeed'
      type='button'
      role='tab'
      aria-controls='windspeed'
      aria-selected='false'
    >Wind Speed</button>
  </li>
</ul>
<div class='tab-content' id='myTabContent'>
  <div
    class='tab-pane fade show active'
    id='readings'
    role='tabpanel'
    aria-labelledby='readings-tab'
  >
    <table class='table table-hover'>
      <thead>
        <tr>
          <th scope='col'>#</th>
          <th scope='col'>Code</th>
          <th scope='col'>Temp</th>
          <th scope='col'>Wind Speed</th>
          <th scope='col'>Wind Direction</th>
          <th scope='col'>Pressure</th>
        </tr>
      </thead>
      <tbody>
        {{#each station.readings}}
          <tr>
            <th scope='row'>{{@key}}</th>
            <td>{{code}}</td>
            <td>{{temperature}}</td>
            <td>{{windSpeed}}</td>
            <td>{{windDirection}}</td>
            <td>{{pressure}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div
    class='tab-pane fade'
    id='temp'
    role='tabpanel'
    aria-labelledby='temp-tab'
  >
    <div id='tempChart'></div>
  </div>
  <div
    class='tab-pane fade'
    id='pressure'
    role='tabpanel'
    aria-labelledby='pressure-tab'
  >
    <div id='pressureChart'></div>
  </div>
  <div
    class='tab-pane fade'
    id='windspeed'
    role='tabpanel'
    aria-labelledby='windspeed-tab'
  >
    <div id='windChart'></div>
  </div>
</div>

<script>
  const tempChart = new frappe.Chart('#tempChart', {
    title: 'Temperature Trends',
    data: {{{chartData.temperatureChart}}},
    type: 'line',
    height: 250,
    colors: ['#7cd6fd', '#743ee2'],
  })

  const pressureChart = new frappe.Chart('#pressureChart', {
    title: 'Pressure Trends',
    data: {{{chartData.pressureChart}}},
    type: 'line',
    height: 250,
    colors: ['#7cd6fd', '#743ee2'],
  })

  const windChart = new frappe.Chart('#windChart', {
    title: 'Wind Speed Trends',
    data: {{{chartData.windspeedChart}}},
    type: 'line',
    height: 250,
    colors: ['#7cd6fd', '#743ee2'],
  })

  /*****
  Slightly nasty hack to force charts to redraw when
  changing tabs on the single station page
  ******/
  $('#myTab').click(() => {
    setTimeout(() => {
    tempChart.draw(!0)
    pressureChart.draw(!0)
    windChart.draw(!0)
    }, 200)
  }) 
</script>