<div class='card mt-3'>
  <div class='card-body p-0 d-flex'>
    <div class='w-25 p-3 flex-shrink-0'>
      <h3 class='card-title'>{{station.name}}</h3>
      <p class='card-subtitle mb-2 text-muted'>Lat: {{station.lat}}</p>
      <p class='card-subtitle mb-2 text-muted'>Lng: {{station.lng}}</p>
    </div>
    <div class='w-75 d-flex flex-wrap justify-content-around'>
      <div class='station-latest'>
        <span class='card-icons'>
          <i
            class='bi {{station.latestWeatherIcon}}'
            style='font-size: 2rem; color: cornflowerblue;'
          ></i>
        </span>
        {{station.latestWeatherDesc}}</div>
      <div class='station-latest'>
        <span class='card-icons'>
          <i class='bi bi-thermometer' style='font-size: 2em; color: rgb(150, 47, 47)'></i>
        </span>
        Temperature<br />
        {{station.latestTemp}}C
        <br />
        {{station.latestTempInFahrenheit}}F
        <br />
        Max:
        {{station.maxTemp}}
        <br />
        Min:
        {{station.minTemp}}</div>
      <div class='station-latest'>
        <span class='card-icons'>
          <i class='bi bi-wind' style='font-size: 2em; color: rgb(68, 150, 47)'></i>
        </span>
        Wind<br />
        {{station.windBeaufort}}bft
        <br />
        {{station.windDirection}}
        <br />
        {{station.windChill}}
        <br />
        {{station.maxWindSpeed}}
        <br />
        {{station.minWindSpeed}}
      </div>
      <div class='station-latest'>
        <span class='card-icons'>
          <i
            class='bi bi-bounding-box-circles'
            style='font-size: 2em; color: rgb(47, 150, 141)'
          ></i>
        </span>
        Pressure
        <br />
        {{station.latestPressure}}
        <br />
        Max:
        {{station.maxPressure}}
        <br />
        Min:
        {{station.minPressure}}</div>
    </div>
  </div>
</div>